{% extends "layout.html" %}
{% block content %}

<div role="main" class="main">			
    <div id="overview" class="slider-container rev_slider_wrapper" style="height: 85%;">
        <div id="revolutionSlider" class="slider rev_slider manual" data-version="5.4.8">
            <ul>
                <li data-transition="fade" class="first_li_slider">
                    <img src="../static/img/saffir/cotton1.jpg"
                        alt=""
                        data-bgposition="center center" 
                        data-bgfit="cover" 
                        data-bgrepeat="no-repeat" 
                        data-bgparallax="1" 
                        class="rev-slidebg"
                        style="filter:brightness(0.2);">

                    <h1 class="tp-caption custom-secondary-font font-weight-bold text-color-light"
                    data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
                    data-y="center" data-voffset="['-80','-80','-80','-40']"
                    data-start="800"
                    data-transform_in="y:[-300%];opacity:0;s:500;" style="font-size: 32px; letter-spacing: 0.08px;">Производство и переработка <span class='text-color-primary'>органического  хлопка</span></h1>

                    <div class="tp-caption custom-secondary-font font-weight-bold text-color-light banner-second"
                        data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
                        data-y="center" data-voffset="['-42','-42','-42','2']"
                        data-start="800"
                        data-transform_in="y:[-300%];opacity:0;s:500;" style="font-size: 42px;">в Таджикистане</div>
                    </li>
                <li data-transition="fade" class="second_li_slider">
                    <img src="../static/img/saffir/organic-c.jpg"  
                        alt=""
                        data-bgposition="center center" 
                        data-bgfit="cover" 
                        data-bgrepeat="no-repeat" 
                        data-bgparallax="1" 
                        class="rev-slidebg">

                    <h1 class="tp-caption custom-secondary-font font-weight-bold text-color-light"
                        data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
                        data-y="center" data-voffset="['-80','-80','-80','-40']"
                        data-start="800"
                        data-transform_in="y:[-300%];opacity:0;s:500;" style="font-size: 32px; letter-spacing: 0.08px;"><span class='text-color-primary'>Экологически чистый хлопок</span> из</h1>

                    <div class="tp-caption custom-secondary-font font-weight-bold text-color-light banner-second"
                        data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
                        data-y="center" data-voffset="['-42','-42','-42','2']"
                        data-start="800"
                        data-transform_in="y:[-300%];opacity:0;s:500;" style="font-size: 42px;">Таджикистана</div>

                </li>
            </ul>
        </div>
    </div>
    
    <section class="looking-for custom-position-1 custom-md-border-top bg-dark">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-7">
                    <div class="looking-for-box">
                        <h2><span class="text-1 custom-secondary-font"></span>Наши контакты<br> для сотрудничества</h2>   
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-md-end mb-4 mb-md-0">
                    <a class="text-decoration-none" href="tel:+00112304567" target="_blank" title="Call Us Now">
                        <span class="custom-call-to-action">
                            <span class="action-title text-color-primary" style="font-weight: bolder;">Позвоните нам</span>
                            <span class="action-info text-color-light">+(992) 93-444-66-68</span>
                        </span>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2">
                        <span class="custom-call-to-action">
                            <span class="action-title text-color-primary" style="font-weight: bolder;">Связаться по почте</span>
                            <span class="action-info text-color-light">office@zarrin.ru</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <section id="key-features" class="section bg-color-light mb-0 pb-0" style="margin-top: 2%;">
        <div class="container">
            <div class="row mb-0 pb-5 justify-content-center">
                <div class="col-lg-5 text-center">
                    <img src="../static/img/saffir/collecting_cotton.jpg" data-appear-animation="fadeInLeft" data-appear-animation-delay="300" data-plugin-options="{'accY': 200}" alt class="img-fluid" />
                </div>
                <div class="col-md-10 col-lg-7 text-center text-lg-left">
                    <h2 class="custom-bar _left text-color-dark">Почему органический хлопок важен</h2>
                    <p class="mb-5">Традиционное производство хлопка тяжело зависит от пестицидов и удобрений, нанося серьезный ущерб экосистемам и здоровью фермеров. Органический хлопок выступает как символ надежды.
                        Он использует естественные методы для ухода за землей, способствуя биоразнообразию и снижая потребление воды на поразительную величину.
                        Но преимущества органического хлопка не ограничиваются только окружающей средой. Органический хлопок производит более мягкую и дышащую ткань.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-7 order-2 order-lg-1 text-center text-lg-right">
                    <p class="mb-5">Без вредных химических веществ он минимизирует раздражение и аллергии, что делает его идеальным выбором даже для самой чувствительной кожи. В Saffir мы считаем, что эти преимущества заслуживают прозрачности. Поэтому мы предлагаем программу тщательной прослеживаемости.
                        Устойчивость выходит за рамки окружающей среды. Мы верим в установление крепких отношений с нашими партнерами, от фермеров до производителей. Практика справедливой торговли и этические стандарты труда являются основой нашей миссии.</p>
                </div>
                <div class="col-lg-5 order-1 order-lg-2 text-center">
                    <img src="../static/img/saffir/field_cotton.jpg" data-appear-animation="fadeInRight" data-appear-animation-delay="300" data-plugin-options="{'accY': 200}" alt class="img-fluid" />
                </div>
            </div>
    </section>

    <hr class="solid custom-tall" style="margin-bottom: 0px;">

    <section id="aboutus" class="mt-0 pt-0">
        <div class="container py-2 my-2 mt-1 pt-1" style="margin-bottom: 0px !important; padding-bottom: 0px !important;">
            <div class="row my-sm-5">
                <div class="col-lg-6 d-flex align-items-center justify-content-center mb-5 mb-lg-0 pb-sm-5 pb-lg-0 mt-sm-5 mt-lg-0">
                    <div class="custom-images-position-1 position-relative d-flex align-items-center justify-content-center custom-mobile-scale-1 mb-sm-5 mb-lg-0">
                        <svg height="100%" width="100%" class="svg-primary opacity-2 position-absolute overflow-visible top-0 left-0">
                            <circle cx="50%" cy="50%" r="80%" stroke="#CCC" stroke-width="7" fill="#CCC" class="appear-animation" data-appear-animation="lineProgressAndFill" data-appear-animation-duration="5.5s" />
                        </svg>
                        <div class="overflow-hidden position-relative top-0 left-0">
                            <img src="../static/img/saffir/cotton1crop.jpg" class="img-fluid appear-animation" data-appear-animation="maskRight" data-appear-animation-delay="1100" data-appear-animation-duration="1.5s" alt="" style="object-fit: cover; height:250px; width: 250px; "/>
                        </div>
                        <div class="overflow-hidden position-absolute top-0 left-0">
                            <img src="../static/img/saffir/field_cotton.jpg" class="img-fluid appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="500" data-appear-animation-duration="1.5s" alt="" style="object-fit: cover; height:190px; width: 190px; " />
                        </div>
                        <div class="overflow-hidden position-absolute top-0 left-0">
                            <img src="../static/img/saffir/collecting_cotton.jpg" class="img-fluid appear-animation" data-appear-animation="maskLeft" data-appear-animation-delay="800" data-appear-animation-duration="1.5s" alt="" style="object-fit: cover; height:145px; width: 145px;"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="overflow-hidden mb-1">
                        <h2 class="text-color-primary font-weight-semibold custom-side-dots custom-side-dots-rm-right negative-ls-1 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="500">О компании</h2>
                    </div>
                    <p class="font-weight-semibold text-3 mb-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">Мы специализируемся на инновационных решениях и высококачественных услугах, направленных на поддержку фермеров и развитие производства хлопка.<p>
                    <p class="font-weight-semibold text-2 pr-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">Наша миссия - создать благоприятные условия для сельского хозяйства и экономического роста страны.<br> Мы сотрудничаем с компаниями из различных стран, включая <span class='text-color-primary'>Россию</span>, <span class='text-color-primary'>Беларусь</span>, <span class='text-color-primary'>Бельгию</span>, <span class='text-color-primary'>Украину</span>, <span class='text-color-primary'>Польшу</span>, <span class='text-color-primary'>Францию</span>, <span class='text-color-primary'>Португалию</span>, <span class='text-color-primary'>Турцию</span> и <span class='text-color-primary'>Узбекистан</span>.<p>
                    <blockquote class="custom-blockquote-style-1 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1100">
                        <p class="pr-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1250">Издревле хлопок считается символов белого цвета, духовной чистоты. И его способны выращивать только люди с чистыми помыслами и прекрасвной душой.</p>
                        <footer><img src="../static/img/saffir/sign.png" class="img-fluid appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400" alt="Signature" style="height: 100px; width: auto;" /></footer>
                    </blockquote>
                </div>
            </div>
        </div>

        <hr style="margin-top: 0px; padding-top: 0px;">
        
        <!-- flags -->
        <div>
            <div class="row text-center py-2 my-3" style="margin-top: 0px;">
                <div class="owl-carousel owl-theme carousel-center-active-item mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
                    <div>
                        <img class="img-fluid partners_logo" src="../static/img/saffir/partnership/russia.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid partners_logo" src="../static/img/saffir/partnership/belarus.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid partners_logo" src="../static/img/saffir/partnership/belgium.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid partners_logo" src="../static/img/saffir/partnership/ukrain.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid partners_logo" src="../static/img/saffir/partnership/poland.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid partners_logo" src="../static/img/saffir/partnership/france.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid partners_logo" src="../static/img/saffir/partnership/portugal.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid partners_logo" src="../static/img/saffir/partnership/turkie.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid partners_logo" src="../static/img/saffir/partnership/uzbekistan2.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="section " style="background-color: white; margin-bottom: 0px !important; padding-bottom: 0px !important;">                  
        <div class="container pb-5">
            <div class="row mb-3">
                <div class="col">
                    <div class="overflow-hidden mb-3">
                        <h2 class="font-weight-bold text-color-primary text-9 pb-5 mb-0 appear-animation text-center" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="{'accY': -100}">Наша история</h2>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-2 mb-4 mb-lg-0">
                            <div class="tabs tabs-vertical tabs-left tabs-navigation custom-tabs-navigation-1 border-0 mb-0 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">
                                <ul class="nav nav-tabs col-sm-3">
                                    <li class="nav-item mb-0 active">
                                        <a class="nav-link custom-primary-font text-center active" href="#tabsNavigation1" data-toggle="tab">2023</a>
                                    </li>
                                    <li class="nav-item mb-0">
                                        <a class="nav-link custom-primary-font text-center" href="#tabsNavigation2" data-toggle="tab">2022</a>
                                    </li>
                                    <li class="nav-item mb-0">
                                        <a class="nav-link custom-primary-font text-center" href="#tabsNavigation3" data-toggle="tab">2020</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="tab-pane tab-pane-navigation custom-tab-pane-navigation-1 active" id="tabsNavigation1">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-xl-5 mb-4 mb-lg-0">
                                        <img src="../static/img/saffir/export.png" class="img-fluid appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300" alt="" style="object-fit: cover; height:200px; width: 300px; "/>
                                    </div>
                                    <div class="col-lg-6 col-xl-7 pl-lg-5 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                                        <h3 class="font-weight-semibold text-transform-none custom-fontsize-2">Одни из главных экспортёров хлопка, пряжи и тканей в Республики Таджикистан. </h3>
                                        <p class="mb-0">За 3 года со дня начала нашей деятельности, мы стали одними из главных экспортёров хлопка, пряжи и тканей из хлопчатобужного волокна в Республики Таджикистан</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane tab-pane-navigation" id="tabsNavigation2">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-xl-5 mb-4 mb-lg-0">
                                        <img src="../static/img/saffir/collecting_cotton.jpg" class="img-fluid" alt="" style="object-fit: cover; height:200px; width: 300px; "/>
                                    </div>
                                    <div class="col-lg-6 col-xl-7 pl-lg-5">
                                        <h3 class="font-weight-semibold text-transform-none custom-fontsize-2">Совместное предприятие Таджикистана и Турции.</h3>
                                        <p class="mb-0">В Яванском районе было построено небольшое совместное предприятие Таджикистана и Турции оснащенная современным оборудованием системы ROTOBAR.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane tab-pane-navigation" id="tabsNavigation3">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-xl-5 mb-4 mb-lg-0">
                                        <img src="../static/img/saffir/zavod.png" class="img-fluid" alt="" style="object-fit: cover; height:200px; width: 300px; "/>
                                    </div>
                                    <div class="col-lg-6 col-xl-7 pl-lg-5">
                                        <h3 class="font-weight-semibold text-transform-none custom-fontsize-2">Компания LLC SGF "SAFFIR".</h3>
                                        <p class="mb-0">С 2020 года компания LLC SGF "SAFFIR" занимается производством и экспортом хлопка, пряжи и тканей из хлопчатобумажного волокна.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <div class="section bg-color-tertiary mt-0">
            <div class="pt-5 pb-1" >

                <div class="container" style="padding-bottom: 55px;">
                    <div class="row">
                        <div class="col">
                            <div class="row counters counters-text-dark custom-counters-style-1">
                                
                                <div class="col-sm-4 col-lg-4 col-lg-2 m-auto">
                                    <div class="counter text-center">
                                        <i class="fas fa-shipping-fast icons" style="font-size: 25px; color: white !important;"></i>
                                        <span class="counter-value text-color-primary" data-to="12000" data-append="+" style="font-size: 35px;  padding-top: 10px; padding-bottom: 10px;">0</span>
                                        <span class="counter-title" style="font-size: 25px; color: white;">Тонн в год</span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-lg-4 col-lg-2 m-auto">
                                    <div class="counter text-center">
                                        <i class="fas fa-handshake icons mr-2" style="font-size: 25px; color: white !important;"></i>
                                        <span class="counter-value text-color-primary" data-to="20" data-append="+" style="font-size: 35px; padding-top: 10px; padding-bottom: 10px;">0</span>
                                        <span class="counter-title" style="font-size: 25px; color: white;">Сотрудничество</span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-lg-4 col-lg-2 m-auto">
                                    <div class="counter text-center">
                                        <i class="fas fa-globe-africa icons" style="font-size: 25px; color: white !important;"></i>
                                        <span class="counter-value text-color-primary" data-to="8" data-append="+" style="font-size: 35px;  padding-top: 10px; padding-bottom: 10px;">0</span>
                                        <span class="counter-title" style="font-size: 25px; color: white;">Странах</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>

    </section>

    <section class="process">
        <div class="overflow-hidden mb-3">
            <h2 class="font-weight-bold text-9 pb-3 mb-0 appear-animation text-color-primary small-screen" data-appear-animation="maskUp" data-appear-animation-delay="500">Процесс поиска источников</h2>
        </div>
        <div class="mainP">
            <div class="processInner pone" style="padding: 0px;">
                <h5 style="padding: 15px 5px 0px 5px; margin-bottom: 30px;">1. МЫ ПРОДАЁМ ХЛОПКОВЫЕ ТОВАРЫ В СЫРОМ ВИДЕ</h5>
                <img src="../static/img/saffir/process1.png" alt="" style="width: 250px; height: auto;">
            </div>
            <div class="processInner ptwo" style="padding: 0px;">
                <h5 style="padding: 15px 5px 0px 5px; margin-bottom: 30px;">2. МЫ ПРОДАЕМ ТОВАРЫ ТОРГОВЦАМ И ОПТОВЫМ ПОКУПАТЕЛЯМ</h5>
                <img src="../static/img/saffir/process2.png" alt="" style="width: 280px; height: auto;">
            </div>
            <div class="processInner pthree" style="padding: 0px; margin: 0px;">
                <div class="process_section1" style="padding-bottom: 0px;">
                    <h5 style="padding: 15px 5px 0px 5px; margin-bottom: 30px;">3. КТО ЯВЛЯЮТСЯ НАШИМИ КЛИЕНТАМИ?<h5>
                </div>
                <div class="container_process" style="padding-top: 0px;">
                    <section class="process_section2" style="margin: 0px; margin-right: 20px;">
                        <p style="padding: 20px 0 20px 0; font-weight: 700; font-size: 15px !important;">Оптовые покупатели тюков хлопка</p>
                        <ul>
                            <li style="text-align: left;">Торговцы, которые поставляют крупным брендам или их производителям пряжи и прядильным фабрикам.</li>
                        </ul>
                    </section>

                    <section class="process_section3" style="margin: 0px; margin-left: 20px;">
                        <p style="padding: 20px 0 20px 0; font-weight: 700; font-size: 15px !important;">Крупные бренды, которые нацелены на интеграцию Saffir</p>
                        <ul>
                            <li style="text-align: left;">Ищут сертифицированной по GOTS источник для своей цепочки поставок.</li>
                            <li style="text-align: left;">Обращаются за консультациями к компании Saffir для создания новой цепочки поставок, начиная с хлопка от Saffir.</li>
                            <li style="text-align: left;">Прядильщики ищут новый источник волокна.</li>
                        </ul>
                    </section>

                    <section class="process_section4" style="width: 100%; padding-bottom: 0px; padding-top: 0px; margin-top: 20px;">
                        <img src="../static/img/saffir/process3_ru_.png" alt="">
                    </section>
                </div>
                
            </div>
        </div>
    </section>


    <section id="news">
        <div class="container container-lg py-5 my-5">
            <div class="row mb-5 rowCard">
            <div class="col text-center">
                <svg class="mb-4" width="20" height="72" viewBox="0 0 10 40">
                <line x1="5" x2="5" y1="0" y2="40" stroke="#909294" stroke-width="1" class="appear-animation" data-appear-animation="customSVGLineAnim"></line>
                </svg>
                <div class="overflow-hidden mb-3">
                <h2 class="font-weight-bold text-9 pb-1 mb-0 appear-animation text-color-primary" data-appear-animation="maskUp" data-appear-animation-delay="500">Последние события</h2>
                </div>
            </div>
            </div>
            <div class="row rowCard">
            {% for news in df_news %}
            
            <div class="col-lg-4 mb-5 mb-lg-0 cardnws">
                <div class="custom-card-style-1 card rounded-0 hover-effect-1">
                <div class="custom-card-img-top-wrapper">
                    <div class="post-date">
                        <span class="month text-color-dark bg-light" style="padding: 7px 0px; background-color: red !important; color: white !important;">{{news[0]}}</span>
                        <span class="month text-color-dark bg-light">{{news[1]}}</span>
                    </div>
                        <img class="card-img-top" src="{{news[4]}}" alt="" style="object-fit: cover; height:200px;">
                </div>
                <div class="card-body p-5">
                        <h4 class="card-title font-weight-bold text-5 mb-3"><a href="#">{{news[2]}}</a></h4>
                        <p class="card-text">{{news[3]}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </section>



    <section  id="contact" class="section section-text-dark section-center border-top-0 mt-0 bg-color-light mb-0 pb-0">
        <hr>
        <div class="container" style="padding-bottom: 0px !important;">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-0">
                    <h2 class="mt-5 mb-5 font-weight-semibold">СВЯЗАТЬСЯ С НАМИ</h2>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-lg-12">
                    <div class="row justify-content-between mt-4 text-left">
                        <div class="col-lg-5 mb-4">
                            <h4 class="mt-3 mb-0">Душанбе</h4>
                            <ul class="list list-icons mt-3">
                                <li><i class="fas fa-map-marker-alt"></i> <strong>Адрес:</strong> 2, Бухоро, город Душанбе, Таджикистан</li>
                                <li><i class="fas fa-phone"></i> <strong>Phone:</strong>+(992) 93-444-66-68</li>
                                <li><i class="far fa-envelope"></i> <strong>Email:</strong> <a href="mailto:office@zarrin.ru">office@zarrin.ru</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-7 mb-1">
                            <div id="googlemaps" class="google-map h-100" style="min-height: 150px;">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1348.7242314734463!2d68.77942980794725!3d38.56655919499243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38b5d16f2facb9df%3A0xa8cb00c5ee4ebb09!2sHQ8J%2BP5V%2C%20Bukhoro%20Street%202%2C%20Dushanbe%20734000%2C%20Tajikistan!5e1!3m2!1sen!2s!4v1722619840702!5m2!1sen!2s" style="height:100%; width: 100%; border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4 mb-0">
                <div class="col-lg-10 text-center">

                    <div class="divider divider-primary divider-small divider-small-center mt-5 mb-3">
                        <hr>
                    </div>

                    <h2 class="mb-0 mt-4 font-weight-semibold">Отправить нам сообщение.</h2>

                    <div class="divider divider-style-4 divider-primary divider-top-section-custom taller">
                        <i class="fas fa-chevron-down"></i>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <div class="container mt-0 pt-0">
        <div class="row justify-content-center mt-0">
            <div class="col-lg-10 py-4">
                <form id="contactForm" class="contact-form" method="POST">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}

                    <div class="form-row">
                        <div class="form-group col">
                                {% if form.name.errors %}
                                {{ form.name(class="form-control form-control-lg py-3 text-3 is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                    {{ form.name(class="form-control form-control-lg py-3 text-3") }}
                                {% endif %}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                                {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg py-3 text-3 is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                    {{ form.email(class="form-control form-control-lg py-3 text-3") }}
                                {% endif %}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                                {% if form.phone.errors %}
                                {{ form.phone(class="form-control form-control-lg py-3 text-3 is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.phone.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                    {{ form.phone(class="form-control form-control-lg py-3 text-3") }}
                                {% endif %}
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col">
                            {% if form.comment.errors %}
                            {{ form.comment(class="form-control form-control-lg py-3 text-3 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.comment.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.comment(class="form-control form-control-lg py-3 text-3") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            {{ form.submit(class="btn btn-outline-success btn-success text-2 font-weight-semibold text-uppercase px-5 btn-py-3") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock content %}