<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<title>SAFFIR</title>	

		<meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="SAFFIR">

		<!-- Favicon -->
		<link rel="shortcut icon" href="../static/img/saffir/icon.png" type="image/x-icon" />
		<link rel="apple-touch-icon" href="../static/img/saffir/icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

		<!-- Vendor CSS -->
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animate/animate.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/owl.carousel/assets/owl.carousel.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/owl.carousel/assets/owl.theme.default.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/magnific-popup/magnific-popup.min.css')}}">


		<!-- Theme CSS -->



		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/theme.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/theme-elements.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/theme-blog.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/theme-shop.css')}}">


		<!-- Current Page CSS -->


		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/rs-plugin/css/settings.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/rs-plugin/css/layers.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/rs-plugin/css/navigation.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/theme.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/theme-elements.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/theme-blog.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/theme-shop.css')}}">
		
		<!-- Demo CSS -->
		<!--icons-->
	

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/demos/demo-app-landing.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/demos/demo-business-consulting.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/demos/demo-barber.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/demos/demo-band.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/demos/demo-insurance.css')}}">


		<!-- Skin CSS -->
		<!--colors red and navbar button colors, review section-->


		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/skins/skin-app-landing.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/skins/skin-business-consulting.css')}}">


		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/skins/skin-insurance.css')}}">

		<!-- Theme Custom CSS -->

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/custom.css')}}">

		<!-- Head Libs -->
		<script src="../static/vendor/modernizr/modernizr.min.js"></script>


			
	</head>
    <body data-spy="scroll" data-target=".header-nav-main nav" data-offset="65">

        <header id="header" class="header-transparent header-transparent-dark-bottom-border header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
            <div class="header-body border-top-0 bg-dark box-shadow-none">
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-logo">
                                    <a href="#">
                                        <img alt="SAFFIR" width="150" height="40" src="../static/img/saffir/logo.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="header-column justify-content-end">
                            <div class="header-row">
                                <div class="header-nav header-nav-links header-nav-dropdowns-dark header-nav-light-text order-2 order-lg-1">
                                    <div class="header-nav-main header-nav-main-mobile-dark header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                        <nav class="collapse">
                                            <ul class="nav nav-pills" id="mainNav">
                                                <li>
                                                    <a class="nav-link active" href="#overview" data-hash>
                                                        Главная
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" href="#aboutus" data-hash data-hash-offset="62">
                                                        О компании
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" href="#contact" data-hash data-hash-offset="62">
                                                        Контакты
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav" style="background: transparent;">
                                        <i class="fas fa-bars" style="font-size: 25px;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {% block content %}{% endblock %}

        <footer id="footer" class="bg-color-light" style="border-top: 0px;">
            <div class="footer-copyright bg-color-light pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 text-center text-md-left">
                            <span class="copyright-text">
                                © Copyright 1999. All Rights Reserved.
                            </span>
                        </div>
                        <div class="col-lg-6">
                            <nav>
                                <ul class="nav nav-pills float-right" id="footerNav">
                                    <li class="nav-item">
                                        <a class="nav-link text-color-dark" data-hash>
                                            Designed by
                                        </a>
                                        <a class="nav-link text-color-dark" target="_blank" title="" style="padding-top:0px; font-weight: bolder;">
                                            WEI
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://isaevstudio.github.io/portfolio/">
                                            <img alt="wei" width="50" height="50" src="../static/img/saffir/logo_wei.png">
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

		<!-- Vendor -->
		<script src="../static/vendor/jquery/jquery.min.js"></script>
		<script src="../static/vendor/jquery.appear/jquery.appear.min.js"></script>
		<script src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
		<script src="../static/vendor/jquery.cookie/jquery.cookie.min.js"></script>
		<script src="../static/vendor/popper/umd/popper.min.js"></script>
		<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="../static/vendor/common/common.min.js"></script>
		<script src="../static/vendor/jquery.validation/jquery.validate.min.js"></script>
		<script src="../static/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
		<script src="../static/vendor/jquery.gmap/jquery.gmap.min.js"></script>
		<script src="../static/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
		<script src="../static/vendor/isotope/jquery.isotope.min.js"></script>
		<script src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
		<script src="../static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script src="../static/vendor/vide/jquery.vide.min.js"></script>
		<script src="../static/vendor/vivus/vivus.min.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<!--Main JS-->
		<script src="../static/js/theme.js"></script> 
		
		<!-- Current Page Vendor and Views -->
		<script src="../static/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script src="../static/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		

		<!-- Current Page Vendor and Views -->
		<script src="../static/js/view.contact.js"></script>

		<!-- DEMO -->
		<script src="../static/js/demo-business-consulting.js"></script>
		
		<!-- Theme Custom -->
		<script src="../static/js/custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<!--Main doesn't work without it-->
		<script src="../static/js/theme.init.js"></script> 

    </body>
</html>